body{
    background-color: rgb(245, 220, 225)
}

.container{
    padding-top: 4%;
  }
  .row{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .box{
    width: 150px;
    height: 150px;
    z-index: 10;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19);
    animation: 2s scale linear; 
    ;
  }
  #box1{
    transform-origin: bottom right;
    border-radius: 0px 100px 0px 100px;
    background: linear-gradient(160deg, #ee0979 0%, #ff6a00 100%);
    }
  #box2{
    transform-origin: bottom left;
    border-radius: 100px 0px 100px 0px;
    background: linear-gradient(220deg, #ee0979 0%, #ff6a00 100%);
    }
  #box3{
    transform-origin: top right;
    border-radius: 100px 0px 100px 0px;
    background: linear-gradient(30deg, #ee0979 0%, #ff6a00 100%);
    }
  #box4{
    transform-origin: top left;
    border-radius: 0px 100px 0px 100px;
    background: linear-gradient(320deg, #ee0979 0%, #ff6a00 100%);
    }
    .circle{
      width: 40px;
      height: 40px;
      border-radius: 100%;
      background: #ffef00;
      z-index: 100;
      margin-top: -298px;
    }
  @keyframes scale {
    0% {
      scale: 0.1;
    }
    100% {
      scale: 1;
    }
  }


h1{
    color:rgb(4, 146, 30);
    font-size: 50px;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

p1{
    color:rgb(4, 146, 30);
    font-size: 30px;
    position: absolute;
}

p2{
    color:rgb(4, 146, 30);
    font-size: 20px;
    position: absolute;
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
    font-style: normal;
  }
  