body{
    background-color: rgb(247, 212, 226)
}

h1{
    color:rgb(0, 62, 11);
}



.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 400;
    font-style: normal;
  }
  