body{
    background-color: rgb(253, 189, 215)
}

#lineOne{
    color:purple;
}

#lineTwo{
    font-size: 40px;
}
#lineThree{
    font-family: 'Gelasio', serif;
    font-size: 90px;
    background-color:aqua;
}