body{
    background-color: rgb(245, 220, 225)
}

h1{

    font-size: 30px;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

  
}

@keyframes color {
    0%    color: rgb(0, 0, 0);
    25%   color: rgb(0, 62, 11);
    50%   color: rgb(1, 102, 20);
    100%  color: rgb(1, 144, 27);
      }

button {
    animation-name: colors;
    animation-duration: 3s;
    animation-timing-function: linear;
    animation-delay: Os;
    animation-iteration-count:3;
    animation-direction: normal;
    animation-play-state: running;
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
    font-style: normal;
  }
  