body{
    background-color: rgb(245, 220, 225)
}

h1{
    color:rgb(0, 62, 11);
    font-size: 30px;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}


p { text-align: right; }




.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
    font-style: normal;
  }
  