body{
    background-color: rgb(245, 220, 225)
}

.tvscreen {
    display: block;
    position: absolute;
    width: 1450px;
    height:800px;
    background: lighten(desaturate(blue, 30%), 40%);
    animation: 
      sunset 5s ease-in-out 1.5s forwards 1,
      sunrise 5s ease-in-out 10s forwards 1,
      infinite;
  }

  .sun {
    content: "";
    display: block;
    border-radius: 50%;
    background: yellow;
    height: 100px;
    width: 100px;
    position: absolute;
    animation: 
      pm 8s ease-in-out forwards 1,
      am 8s ease-in-out 8s forwards 1,
      infinite;
  }
 
  
  @keyframes pm {
    0% { top: 0; left: 0;}
    100% { top: 400px; left: 50%;}
  }
  
  @keyframes am {
    0% { top: 400px; left: 50%;}
    100% { top: 0; left: 0;}
  }
  
  @keyframes sunset {
    75% {background: gold;}
    80% { background: DarkGoldenrod1;}
    90% { background: orchid4;}
    100% { background: darken(desaturate(blue, 30%), 40%);}
  }
  
  @keyframes stars {
    
  }
  
  @keyframes sunrise {
    0% { background: darken(desaturate(blue, 30%), 40%);}
    20% { background: orchid4;}
    60% { background: DarkGoldenrod1;}
    70% {background: gold;}
    100% {background:lighten(desaturate(blue, 30%), 40%)}
  }

h1{
    color:rgb(4, 146, 30);
    font-size: 50px;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

p{
    color:rgb(4, 146, 30);
    font-size: 30px;
    position: absolute;
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
    font-style: normal;
  }
  