:root{
    --color1: #cac9c9;
    --color1-shadow: #e9eaea;
    --color2: #979595;
    --color2-shadow: #525252;
    --size: 20px;
}

selector .bubbles span{
    background: var(--color1);
    width: var(--size);
    height: var(--size);
    display: inline-block;
    border-radius: 50%;
    margin: 0 5px;
    box-shadow: 0 0 0 6px var(--color1-shadow),
    0 0 50px var(--color1),
    0 0 100px var(--color1);
    animation:animate 20s linear infinite;
    animation-duration: calc(125s/var(--i));
}

selector .bubbles span:nth-child(even){
    background: var(--color2);
    box-shadow: 0 0 0 6px var(--color2-shadow),
    0 0 50px var(--color2),
    0 0 100px var(--color2);
    
}
@keyframes animate{
    0%{
        transform: translateY(100vh) scale(0);
    }
    100%{
        transform: translateY(-10vh) scale(1);
    }
}