body{
    background-color: rgb(245, 220, 225)
}

@keyframes leaf-odd-grow {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  @keyframes leaf-even-grow {
    0% {
      transform: rotate(-90deg) scale(0);
    }
    100% {
      transform: rotate(-90deg) scale(1);
    }
  }
  
  html, body {
    margin: 0;
    padding: 0;
    animation-iteration-count: infinite;
  }
  
 
  
  .trunk,
  .branch {
    border-radius: 25px;
    background: linear-gradient(to right, #7f3333, #4d2020);
  }
  
  .trunk {
    position: relative; left:350px;
    
    width: 10px;
    height: 500px;
    margin: 0 auto;
  }
  
  .branch {
    position: absolute;
    
    width: 5px;
    
    transform-origin: bottom center;
  }
  
  .branch:nth-child(even) {
    transform: rotate(60deg);
  }
  
  .branch:nth-child(odd) {
    transform: rotate(-60deg);
  }
  
  .branch:nth-child(1) {
    top: 180px;
    
    height: 180px;
  }
  
  .branch:nth-child(2) {
    top: 160px;
  
    height: 150px;
  }
  
  .branch:nth-child(3) {
    top: 120px;
    
    height: 150px;
  }
  
  .branch:nth-child(4) {
    top: 100px;
    
    height: 120px;
  }
  
  .branch:nth-child(5) {
    top: 60px;
    
    height: 120px;
  }
  
  .branch:nth-child(6) {
    top: 55px;
    
    height: 80px;
  }
  
  .branch:nth-child(7) {
    top: 10px;
    
    height: 80px;
  }
  
  .branch:nth-child(8) {
    top: 5px;
    
    height: 40px;
  }
  
  .leaf {
    position: absolute;
    
    width: 15px;
    height: 15px;
    
    border-radius: 75% 0 75% 0;
    background: linear-gradient(to right, #77ed9e, #53ad71);
  }
  
  .leaf:nth-child(odd) {
    left: 100%;
    
    transform-origin: 0% 100%;
    animation-name: leaf-odd-grow;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  .leaf:nth-child(even) {  
    left: -150%;
    
    transform-origin: 50% 100%;
    animation-name: leaf-even-grow;
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
  }
  
  .leaf:nth-child(1) {
    top: 5px;
    
    animation-delay: 3.5s;
  }
  
  .leaf:nth-child(2) {
    top: 20px;
    
    animation-delay: 3s;
  }
  
  .leaf:nth-child(3) {
    top: 50px;
    
    animation-delay: 2.5s;
  }
  
  .leaf:nth-child(4) {
    top: 65px;
    
    animation-delay: 2s;
  }
  
  .leaf:nth-child(5) {
    top: 95px;
    
    animation-delay: 1.5s;
  }
  
  .leaf:nth-child(6) {
    top: 110px;
    
    animation-delay: 1s;
  }
  
  .leaf:nth-child(7) {
    top: 140px;
    
    animation-delay: 0.5s;
  }



h1{
    color:rgb(4, 146, 30);
    font-size: 50px;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

p{
    color:rgb(4, 146, 30);
    font-size: 30px;
    position: absolute;
}

p2{
  color:rgb(4, 146, 30);
  font-size: 20px;
  position: absolute; top: 0; right: 0
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
    font-style: normal;
  }