
body {

    p{
        color:rgb(4, 146, 30);
        font-size: 30px;
        position: absolute;
      top: 50px;
      left: 0;
    }


    font-family: "Archivo Black", sans-serif;
    background: rgb(245, 220, 225); 
    display: flex;
    flex-direction: column;
    height: 50vh;
    justify-content: center;
    align-items: center;
  }
  
  .words {
    color: rgb(229, 220, 245);
    font-size: 0;
    line-height: 1.5;
  }
  
  .words span {
    font-size: 5rem;
    display: inline-block;
    animation: move 3s ease-in-out infinite;
  }
  
  @keyframes move {
    0% {
      transform: translate(-30%, 0);
    }
    50% {
      text-shadow: 0 25px 50px rgba(0, 0, 0, 0.75);
    }
    100% {
      transform: translate(30%, 0);
    }
  }
  
  .words span:nth-child(2) {
    animation-delay: 0.5s;
  }
  
  .words span:nth-child(3) {
    animation-delay: 1s;
  }
  
  .words span:nth-child(4) {
    animation-delay: 1.5s;
  }
  
  .words span:nth-child(5) {
    animation-delay: 2s;
  }
  
  .words span:nth-child(6) {
    animation-delay: 2.5s;
  }
  
  .words span:nth-child(7) {
    animation-delay: 3s;
  }
  




.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
    font-style: normal;
  }