body{
    background-color: rgb(245, 220, 225)
}

h1{
    color:rgb(4, 146, 30);
    font-size: 50px;
    position: absolute;
	top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}

p{
    color:rgb(4, 146, 30);
    font-size: 30px;
    position: absolute;
}

.grandiflora-one-regular {
    font-family: "Grandiflora One", cursive;
    font-weight: 900;
    font-style: normal;
  }
  
  #span1 {
    animation: light 3s infinite; 
  }

@keyframes light {
    0% {
        opacity: 1;
    }
   
    100% {
        opacity: 0;

    }
}

  